@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

/* ** *** FORM SETTINGS *** ** */
.form-pad {
    padding: 0 1rem;
    @include flex-column(3rem);

    @include mq(desktop) {
        padding: 0 12rem;
        gap: 4rem;
    }

    @include mq(tablet) {
        padding: 0 2rem;
        gap: 3rem;
    }
}

.frm-lab {
    @include flex-column;
}

form {
    label {
        /* Form label style settings */
        font-family: $font-texto;
        line-height: normal;
        font-size: 1rem;
        font-weight: 600;
    }

    input,
    select {
        @include form-field;
        border-bottom: $terracota 1px solid;

        @include mq(desktop) {
            font-size: 2rem;
            padding: 1rem 2rem;
        }
    }

    select {
        border-radius: 0;
        appearance: none;
        width: 100%;
    }
}

.form-select-option {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.form-textarea {
    /* Form textarea style settings */
    @include form-field;
    height: 10rem;
    border-radius: 0;
    appearance: none;
    resize: none;

    @include mq(desktop) {
        height: 12rem;
        font-size: 2rem;
        padding: 1rem 2rem;
    }
}

input,
textarea {
    &::placeholder {
        color: $azul;
    }
}

.img_caption {
    font-weight: 600;
}
